:root {
  --main-blue: #66fdf1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding: 170px;
}

html {
  overflow-y: scroll;
}

html,
body {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: var(--main-blue);
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
}

.container:nth-child(2) {
}

.container:nth-child(3) {
}

.container:nth-child(4) {
  padding-top: 200px;
  height: 100vh;
}

.content__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: left;
}

nav {
  display: flex;
  font-family: DINpro regular;
  animation: load-content 750ms;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: black;
}

.nav__link {
  list-style: none;
  text-decoration: none;
  color: var(--main-blue);
  font-size: 1.5rem;
  border: 2px solid transparent;
  transition: 0.2s ease-out;
  padding: 0.5rem;
}

.nav__link:hover {
  border: 2px solid var(--main-blue);
  transition: 0.2s ease-in;
}

.active {
  border: 2px solid var(--main-blue);
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.logo {
  display: flex;
  height: 75px;
  cursor: pointer;
  transition: 0.25s ease-out;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  flex: 1 0 auto;
  text-align: center;
}

.loader__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  transition: 2s ease-out;
  overflow: hidden;
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: var(--main-blue) var(--main-blue) transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 40px;
  height: 40px;
  border-color: var(--main-blue) var(--main-blue) transparent transparent;
  animation: rotation 2s linear infinite;
}

.pageText {
  width: 14pc;
  animation: typing 1.5s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: DINpro bold;
  font-size: 1.2em;
  position: fixed;
  color: var(--main-blue);
  top: 55%;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes reverse-spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@font-face {
  font-family: DINpro bold;
  src: url(./fonts/DINPro\ Bold.otf);
}

@font-face {
  font-family: DINpro regular;
  src: url(./fonts/DINPro\ Regular.otf);
}

.projects_header {
  text-align: center;
  font-family: DINpro bold;
  font-size: 2rem;
  padding-bottom: 40px;
}

.projects_paragraph {
  text-align: left;
  font-family: DINpro regular;
  font-size: 1.2rem;
  padding-bottom: 40px;
}

summary {
  font-size: 1.4rem;
  font-family: DINpro bold;
  padding: 10px 0px 10px 0px;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 600px;
  border: 3px solid var(--main-blue);
}

details > a {
  background-color: var(--main-blue);
  color: #000;
  padding: 5px;
  font-family: DINpro regular;
  transition: 0.25s ease-out;
  text-decoration: none;
}

details > a:hover {
  border-radius: 0px 0px 10px 10px;
  text-decoration: underline;
  color: red;
}

footer {
  flex-shrink: 0;
  color: white;
  text-align: center;
  height: 5rem;
  width: 100%;
  padding: 20px 0px 20px 0px;
  position: sticky;
  bottom: 0;
  background-color: black;
}

.footer_container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  color: white;
  width: 200px;
}

.footer_container > li {
  list-style: none;
  justify-content: center;
  display: flex;
}

#discord {
  filter: invert(50%) sepia(88%) saturate(5752%) hue-rotate(227deg)
    brightness(102%) contrast(90%);
}

#twitter {
  filter: invert(40%) sepia(81%) saturate(982%) hue-rotate(163deg)
    brightness(106%) contrast(103%);
}

#linkedin {
  filter: invert(26%) sepia(92%) saturate(1143%) hue-rotate(173deg)
    brightness(109%) contrast(103%);
}

@keyframes load-content {
  0% {
    transform: translateY(-200%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.portrait_container {
  width: 100%;
  padding: 10px 0px 10px 0px;
}

#portrait {
  width: 60%;
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
}

h2 {
  font-size: 2.5em;
  font-family: DINpro bold;
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.languages_container {
  display: flex;
  height: 100%;
  padding: 20px 0px 20px 0px;
}

.img {
  width: 100%;
  text-align: center;
  font-family: DINpro bold;
  display: flex;
  flex-direction: column;
}

#img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  display: flex;
  margin: 0 auto;
}

.info_text {
  font-family: DINpro regular;
  padding: 20px 0px 20px 0px;
  font-size: 1.2rem;
  text-align: left;
}

.info_text a {
  color: var(--main-blue);
}

.info_text a:hover {
  color: red;
}

.portfolio_btn {
  width: 200px;
  margin: 50px auto;
  border: 1px solid var(--main-blue);
  padding: 15px 50px;
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--main-blue);
  border-radius: 4px;
  transition: 0.3s ease-out;
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-family: DINpro bold;
  padding: 20px 0px 20px 0px;
}

.portfolio_btn:hover {
  background-color: var(--main-blue);
  color: black;
}

@media screen and (min-width: 500px) {
  nav {
    display: flex;
    font-family: DINpro regular;
    animation: load-content 750ms;
    justify-content: center;
    align-items: center;
    height: 170px;
  }

  .nav__link {
    list-style: none;
    text-decoration: none;
    color: var(--main-blue);
    font-size: 2rem;
    border: 2px solid transparent;
    transition: 0.2s ease-out;
    padding: 0.5rem;
  }

  .nav__link:hover {
    border: 2px solid var(--main-blue);
    transition: 0.2s ease-in;
  }

  .active {
    border: 2px solid var(--main-blue);
  }

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .logo {
    height: 150px;
  }

  .container {
    max-width: 600px;
  }

  .pageText {
    font-size: 2rem;
    width: 23pc;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
